body {
  margin: 0;
  font-family: proxima-nova, sans-serif;
  color: rgba(31, 31, 31, 0.9);
  font-weight: 600;
  font-style: normal;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body > #root > div {
  height: 100vh;
}
body {
  min-height: 100vh;
  padding: 0;
}
