.wedding-photo-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 24px;
}

.wedding-photo-content-header,
.wedding-photo-content-item {
  text-align: center;
}

.wedding-photo-content-header {
  margin-top: 64px;
  margin-bottom: 24px;
}

img {
  max-width: 840px;
}
